<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10415978709-2nre9q7sq2mgsuhp7n00a4oukjkdrd3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10415978709-2nre9q7sq2mgsuhp7n00a4oukjkdrd3a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>10415978709-36j68ohn4d502immakv8vcd7c71sbimn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJktqJB0xHf9yTMbMVgB2xrc9OtupYzNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>10415978709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frahem.immigrationQuebec</string>
	<key>PROJECT_ID</key>
	<string>guide-immigration-quebec</string>
	<key>STORAGE_BUCKET</key>
	<string>guide-immigration-quebec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10415978709:ios:98f1e5476ea87c12754a5c</string>
	<key>DATABASE_URL</key>
	<string>https://guide-immigration-quebec.firebaseio.com</string>
</dict>
</plist>